* {
	box-sizing: border-box;
}
body {
	padding-top: 10%;
	background-color: #ededed;
	color: #333;
	text-align: center;
	margin: 0 auto;
	font-family: sans-serif;
}
ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0px;
}
ul {
	width: 202px;
	margin: 0 auto;
}
li {
	display: inline-block;
}
.cell {
	border: 2px solid #777;
	margin: 2px;
	background: #fff;
	height: 60px;
	width: 60px;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}
.cell.marked {
	background-color: #f56f3a;
}
.cell.marked.player-1 {
	background-color: #000;
}
.result {
	font-weight: bold;
	font-size: 30px;
	margin: 40px auto;
	display: block;
}
.restart, a{
		display:inline-block;
		padding:1em;
		width:200px;
		margin: 0 0 1em 0;
		background:#000;
		border:none;
		color:#f2f2f2;
		line-height:normal;
		font-size: 15px;
		font-weight:bold;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease;
		border-radius:50px;
		text-decoration:none;
		outline:none;
	}
.restart:hover{
		background:#f56f3a;
		cursor:pointer;
}
a:hover{
		background:#f56f3a;
		cursor:pointer;
}